<html>
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
</head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body ng-app="admin">
<div class="container" ng-controller="adminCtrl">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Актуальные заказы</a></li>
                <li role="presentation"><a href="/addmeal">Добавить товар</a></li>
                <li role="presentation"><a href="/editmeal">Редактировать товары</a></li>
                <li role="presentation"><a href="/adminmenu">Меню</a></li>
                <li role="presentation"><a href="/">Сменить пользователя</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">{{CustomString}}</h3>
    </div>

    <div class="jumbotron">
        <h1>Актуальные заказы</h1>
        <p class="lead">Примите заказ для последующей передачи курьеру.</p>
    </div>
    <div class="row" ng-repeat="meal in menu1">
        <h3>{{meal.userName}}</h3>
        <h3>{{meal.userPhone}}</h3>
        <h3>{{meal.userAddress}}</h3>
        <div class="row marketing" ng-repeat="mealInfo in meal.orders">
            <div class="col-md-3"> </div>
            <div class="col-md-2" ng-model="src.mealName">
                <h4>{{mealInfo.mealName}}</h4>
            </div>
            <div class="col-md-2" ng-model="src.price" ng-init="thisPrice = 40">
                <h4>{{mealInfo.price}}</h4>
            </div>
            <div class="col-md-3" ng-model="src.description">
                <h4>{{mealInfo.description}}</h4>
            </div>
        </div>
        <div class="col-md-2 btn btn-lg btn-success" ng-click="applyOrder(meal.userName)">
            <p>Принять заказ</p>
        </div>
    </div>

</div> <!-- /container -->




<script src="js/admin.js"></script>
</body>
</html>
